@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');


#header {
  text-align: center;
}

#img {
  width: 5rem;
  height: 5rem;
  margin-top: 1rem;
  margin-bottom: -1rem;
  background-color: transparent;
}

#header h1 {
  font-size: 1.5rem;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
}
