@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background: white;
  color: #1a1f1d;
  min-height: 100vh;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 3rem;
}

.container{/* always use a container to place elements vertially @ top*/
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.container > * {
  margin: 0 20px;
}

.green-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(18, 83, 30);
  width: 600px;
  height: 900px;
  border: 4mm ridge rgba(140, 209, 111, 0.6);
  border-radius: 10px;
}
.left-align {
  align-self: flex-start;
  
}
#user-input {
  padding: 1rem;
  max-width: 31rem;
  margin: 2rem auto;
  border-radius: 4px;
  outline: 1px solid black;
  background-color: rgb(255, 255, 255);
}

.input-group {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

#user-input label {
  display: block;
  margin-bottom: 0.25rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

#user-input input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: transparent;
  color: black;
  font-size: 1rem;
}

#result {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: right;
}

#result thead {
  font-size: 0.7rem;
  color: #83e6c0;
}

#result tbody {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85rem;
  color: #c2e9e0;
}

.center {
  text-align: center;
}
